[
[
  {
    "uuid": "128a04bb-9def-3bf1-8dde-77a40e538b3a",
    "name": "danila",
    "level": 4,
    "bypassesPlayerLimit": false
  },
  {
    "uuid": "6167a377-f470-334b-97e3-25519d58eb1d",
    "name": "Demon",
    "level": 4,
    "bypassesPlayerLimit": false
  }
]