#Minecraft server properties
#Fri Feb 12 15:56:51 UTC 2016
spawn-protection=16
server-name=Lobby
generator-settings=
force-gamemode=false
allow-nether=false
gamemode=0
broadcast-console-to-ops=true
enable-query=false
player-idle-timeout=0
difficulty=0
spawn-monsters=false
op-permission-level=4
resource-pack-hash=
announce-player-achievements=true
pvp=false
snooper-enabled=true
level-type=DEFAULT
hardcore=false
enable-command-block=false
max-players=200
network-compression-threshold=256
max-world-size=20000
server-port=25566
debug=false
server-ip=127.0.0.1
spawn-npcs=true
allow-flight=false
level-name=lobby
view-distance=10
resource-pack=
spawn-animals=false
white-list=false
generate-structures=false
online-mode=false
max-build-height=256
level-seed=
use-native-transport=true
motd=Lobby at Minecradt.of.by Server
enable-rcon=false
