#Minecraft server properties
#Sat Mar 12 15:41:33 UTC 2016
spawn-protection=16
max-tick-time=60000
server-name=Vanilla
generator-settings=
force-gamemode=false
allow-nether=true
gamemode=0
broadcast-console-to-ops=true
enable-query=false
player-idle-timeout=0
difficulty=3
spawn-monsters=true
op-permission-level=4
announce-player-achievements=true
pvp=true
snooper-enabled=true
level-type=DEFAULT
hardcore=false
enable-command-block=true
max-players=50
network-compression-threshold=256
resource-pack-sha1=
max-world-size=29999984
server-port=25568
server-ip=127.0.0.1
spawn-npcs=true
allow-flight=false
level-name=vanilla
view-distance=10
resource-pack=
spawn-animals=true
white-list=true
generate-structures=true
online-mode=false
max-build-height=256
level-seed=
use-native-transport=true
enable-rcon=false
motd=Vanilla at Minecraft.of.by
